nav{
        background-color: white;
        color: red;
        margin-top: 30px;
        padding:10px;
    }

li,ul,h1{
        display: inline;

}

ul{
    margin-left: 60%;
}
li{
    font-size: 20px;
    cursor: pointer;

}
li:hover{
    color: blue; 
}